@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{}

<form asp-action="Login" asp-controller="Authentication" method="post">
    <label for="usenamefield">Username</label> <br />
    <input name ="username" id="usernamefield" type="text" required="required" /> <br />
    <label for="passwordfield">Passwort</label> <br />
    <input name="password" id="passwordfield" type="password" required="required" /> <br />
    <input type="submit" value="Login">
</form>